@model Department
@{
    ViewData["Title"] = "Create";
}
<h1 class="pb-4">Create New Department</h1>
<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control" placeholder="123">
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" placeholder="HR">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfCreation" class="form-label"></label>
        <input asp-for="DateOfCreation" class="form-control" placeholder="04/10/2023 03:26 PM">
        <span asp-validation-for="DateOfCreation" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <a asp-action="Index" class="btn btn-dark">Back</a>
</form>