@model Department
@{
    ViewData["Title"] = "Details";
}
<h1 class="pb-4">Details Of Department</h1>

<div class="mb-3">
    <label asp-for="Code" class="form-label"></label>
    <input asp-for="Code" class="form-control" placeholder="123" disabled>
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" placeholder="HR" disabled>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="DateOfCreation" class="form-label"></label>
    <input asp-for="DateOfCreation" class="form-control" placeholder="04/10/2023 03:26 PM" disabled>
    <span asp-validation-for="DateOfCreation" class="text-danger"></span>
</div>
<a asp-action="Index" class="btn btn-dark">Back</a>
<a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Update</a>
