@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}

<form  method="post" action="Create" enctype="multipart/form-data">
   
    <partial name="PartialView/CreateEditPartialView"></partial>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-warning">Back To List</a>
</form>

@section Validation{

    <partial name="_ValidationScriptsPartial"></partial>

}

