@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}
<form id="deleteForm" method="post" asp-action="Delete">

    <partial name="PartialView/DetailsDeleteView"></partial>

    <input type="submit" id="deleteButton" class="btn btn-danger" value="Delete" />
    <a asp-action="Index" class="btn btn-warning">Back To List</a>
</form>


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("deleteButton").addEventListener("click", function (event) {
                event.preventDefault(); // Prevent default form submission

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms the deletion, submit the form
                        document.getElementById("deleteForm").submit();
                    }
                });
            });
        });
    </script>
}

