@model RoleViewModel
@{
    ViewData["Title"] = "Update";
}
<h1>update @Model.Name</h1>
<div asp-validation-summary="All"></div>

<form method="post" asp-action="Update" >

    <partial name="PartialView/CreateEditPartialView"></partial>

    <a asp-action="AddOrRemoveUsers" asp-route-id="@Model.Id" class="btn btn-success">Add Or Remove Role For User</a>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-warning">Back To List</a>
</form>

@section Validation {
    <partial name="_ValidationScriptsPartial"></partial>


}