@model Course

<div asp-validation-summary="All">
</div>

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Duration" class="form-label"></label>
    <input asp-for="Duration" class="form-control">
    <span asp-validation-for="Duration" class="text-danger"></span>
</div>

