@model Employee
@{
    ViewData["Title"] = "Create";
}
<h1 class="pb-4">Delete Employee</h1>
<form asp-action="Delete" id="deleteForm">

    <partial name="partial//DeleteDetailsPartialView"></partial>
    <input type="submit" class="btn btn-danger" value="Delete" id="deleteButton" />
    <a asp-action="Index" class="btn btn-dark">Back</a>
</form>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("deleteButton").addEventListener("click", function (event) {
                event.preventDefault(); // Prevent default form submission

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms the deletion, submit the form
                        document.getElementById("deleteForm").submit();
                    }
                });
            });
        });
    </script>
}
