@model RoleViewModel

<div class="mb-3">
    <label class="form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" readonly>
    <span asp-validation-for="Name" class="text-danger"></span>

</div>
