@model EmployeeVM
@{
    var SelectList = new SelectList(ViewBag.departments,"Id","Name");
}
<div asp-validation-summary="All">

</div>
<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Salary" class="form-label"></label>
    <input asp-for="Salary" class="form-control">
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="departnment" class="form-label"></label>
    <select class="form-control" asp-items="SelectList" asp-for="DepartmentId">
        <option value="@null">Select</option>
        
    </select>
    
</div>

<div class="mb-3">
    <label asp-for="Age" class="form-label"></label>
    <input asp-for="Age" class="form-control">
    <span asp-validation-for="Age" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Address" class="form-label"></label>
    <input asp-for="Address" class="form-control">
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Phone" class="form-label"></label>
    <input asp-for="Phone" class="form-control">
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Image" class="form-label"></label>
    <input asp-for="Image" class="form-control">
</div>


<div class="mb-3">
    <label asp-for="IsActive" class="form-label"></label>
    <input asp-for="IsActive" class="form-check">
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>